<div>
    <span>
        <a href="https://twitter.com/bitcoincoreorg" target="_blank" class=""><i class="fa fa-fw fa-twitter"></i>Twitter</a><br />
        <a href="/en/legal/">Legal</a> | <a href="/en/legal/privacy">Privacy Policy</a> | <a href="/{{ page.lang }}/rss/">RSS <img src="/assets/images/rss-24x24.png" alt="rss feeds" width="14" height="14"></a>
    </span>
</div>
<div>
    <img src="/assets/images/bitcoin_core_logo.png" alt="bitcoin core logo" width="160"><br />
    <span class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
</div>