<div class="navigation-wrapper">
	<div class="site-name">
        {% assign homelink = site.data.navigation[page.lang]['home'] %}
		<a href="{{ homelink.url }}"><img src="/assets/images/bitcoin_core_logo_colored_reversed.png" alt="bitcoin core logo"></a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation[page.lang] %}
                    {% if link[0] != 'home' and link[1].submenu != true and link[1].disabled != true %}
                      <li><a href="{{ link[1].url }}">{{ link[1].title }}</a></li>
                    {% elsif link[1].submenu == true and link[1].disabled != true %}
                      <li>{% if link[1].url %}<a href="{{ link[1].url }}">{{ link[1].title }}</a>{% else %}<a href="javascript:;">{{ link[1].title }}</a>{% endif %}
                          <ul>
                          {% for sublink in link[1].tree %}

                              {% if sublink[0] != 'home' and sublink[1].submenu != true and sublink[1].disabled != true %}
                              <li><a href="{{ sublink[1].url }}">{{ sublink[1].title }}</a></li>
                              {% elsif sublink[1].submenu == true and sublink[1].disabled != true %}
                              <li>{% if sublink[1].url %}<a href="{{ sublink[1].url }}">{{ sublink[1].title }}</a>{% else %}<a href="javascript:;">{{ sublink[1].title }}</a>{% endif %}
                                  <ul>
                                      {% for sublink2 in sublink[1].tree %}
                                      <li><a href="{{ sublink2[1].url }}">{{ sublink2[1].title }}</a></li>
                                      {% endfor %}
                                  </ul>
                              </li>
                              {% endif %}

                          {% endfor %}
                          </ul>
                      </li>
                    {% endif %}
                {% endfor %}
                {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}

                <li id="langselect" class="lang">
                    <select onchange="window.location=this.value;">
                        <option value="{{ post.url }}">{{ site.data.languages[page.lang] }}</option>
                        {% for post in posts %}
                        {% if post.lang != page.lang %}<option value="{{ post.url }}">{{ site.data.languages[post.lang] }}</option>{% endif %}
                        {% endfor %}
                    </select>
                </li>
                <!--<li class="lang">-->
                    <!--<li><a>{{ site.data.languages[page.lang] }}</a>-->
                    <!--{% assign posts=site.posts | where:"name", page.name | sort: 'path' %}      -->
                    <!--{% for post in posts %}-->
                    <!--{% if post.lang != page.lang %}<a href="{{ post.url }}" class="{{ post.lang }}">{{ language }}</a>{% endif %}-->
                    <!--<a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.languages[post.lang] }}</a>-->
                    <!--<a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.languages[post.lang] }}</a>-->
                    <!--{% endfor %}-->
                <!--</li>-->
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->


