<div class="show-your-support show-your-support-small">
  <h3>Show your support</h3>
  <p>
      <a href="https://github.com/bitcoin-core/website/issues/50" target="_blank" class=""><i class="fa fa-fw fa-github"></i>Github</a>
      <a href="http://twitter.com/home?status=I support %23bitcoincore - Find out more at https://bitcoincore.org" target="_blank" class=""><i class="fa fa-fw fa-twitter"></i>Twitter</a>
  </p>
  <div>
      <h4>Developers</h4>
      <ul>
          <li>Jonas Schnelli</li>
          <li>Jonas Schnelli</li>
      </ul>
  </div>
  <div>
      <h4>Companies</h4>
      <ul>
          <li>A Company</li>
      </ul>
  </div>
  <div>
      <h4>Miners</h4>
      <ul>
          <li>Some Miners</li>
      </ul>
  </div>
  <div>
      <h4>Users</h4>
      <ul>
          <li>Some Users</li>
          <li>Some Users</li>
      </ul>
  </div>
</div>