<div class="show-your-support">
  <div>
      <!--<h3>Developers</h3>-->
      <ul>
          <li><a href="https://github.com/dcousens">Daniel Cousens</a><!--bitcoinjs--></li>
          <li><a href="https://github.com/CodeShark">Eric Lombrozo</a></li>
          <li><a href="https://github.com/greenaddress">Lawrence Nahum</a></li>
          <li><a href="https://github.com/NicolasDorier">Nicolas Dorier</a><!--NBitcoin--></li>
          <li><a href="https://github.com/jonasschnelli">Jonas Schnelli</a></li>
          <li><a href="https://github.com/jmcorgan">Johnathan Corgan</a></li>
          <li><a href="https://github.com/adam3us">Dr. Adam Back</a></li>
          <li><a href="https://github.com/harding">David Harding</a></li>
          <li><a href="https://github.com/btchip">Nicolas Bacca</a><!--ledger--></li>
          <li><a href="https://github.com/AdamISZ">Adam Gibson</a><!--joinmarket--></li>
      </ul>
  </div>
  <div>
      <!--<h3>Companies</h3>-->
      <ul>
          <li><a href="http://www.ei8.ht/">EI8HT</a></li>
          <li><a href="https://ciphrex.com/">Ciphrex</a></li>
          <li><a href="https://greenaddress.it/">Green Address</a></li>
          <li><a href="https://metaco.com/">Metaco</a></li>
          <li><a href="https://digitalbitbox.com/">Digital Bitbox</a></li>
          <li><a href="http://corganlabs.com/">Corgan Labs</a></li>
          <li><a href="https://www.ledgerwallet.com/">Ledger Wallet</a></li>
          <li><a href="#">Montebit S de RL de CV</a></li>
          <li><a href="https://onename.com/">Onename</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Individuals</h3>-->
      <ul>
          <li><a href="https://github.com/haakonn">Haakon Nilsen</a></li>
          <li><a href="https://github.com/mably">François Masurel</a></li>
          <li><a href="https://github.com/nameone">Nicola Minichiello</a></li>
          <li><a href="https://github.com/Seccour">Adam Schneider</a></li>
          <li><a href="https://github.com/DavidVorick">David Vorick</a></li>
          <li><a href="https://github.com/stcole">Stephen Cole</a></li>
          <li><a href="https://github.com/martindale">Eric Martindale</a></li>
          <li><a href="https://github.com/taylorjb">Taylor Brink</a></li>
          <li><a href="https://github.com/michel-foucault">Michel Foucault</a></li>
          <li><a href="https://github.com/cfromknecht">Conner Fromknecht</a></li>
          <li><a href="https://github.com/">breathingdog</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Users</h3>-->
      <ul>
          <li><a href="https://github.com/jameshilliard">James Hilliard</a></li>
          <li><a href="https://github.com/PierreRochard">Pierre Rochard</a></li>
          <li><a href="https://github.com/mbmott">Mike Mott</a></li>
          <li><a href="https://github.com/EricLarch">Eric Larchevêque</a><!--ledger CEO--></li>
          <li><a href="https://github.com/99Percent">David Noriega</a></li>
          <li><a href="https://github.com/oleganza">Oleg Andreev</a></li>
          <li><a href="https://github.com/fivepiece">Fivepiece</a></li>
          <li><a href="https://github.com/shea256">Ryan Shea</a><!--onename co-founder--></li>
          <li><a href="https://github.com/muneeb-ali">Muneeb Ali</a><!--onename co-founder--></li>
          <li><a href="https://github.com/jcnelson">Jude Nelson</a></li>
      </ul>
  </div>
</div>