<div class="show-your-support">
  <div>
      <!--<h3>Developers</h3>-->
      <ul>
          <li><a href="https://haobtc.com">Haobtc</a></li>
          <li><a href="https://coinfloor.co.uk/">Coinfloor Exchange</a></li>
          <li><a href="https://github.com/dcousens">Daniel Cousens</a><!--bitcoinjs--></li>
          <li><a href="https://github.com/CodeShark">Eric Lombrozo</a></li>
          <li><a href="https://github.com/greenaddress">Lawrence Nahum</a></li>
          <li><a href="https://github.com/NicolasDorier">Nicolas Dorier</a><!--NBitcoin--></li>
          <li><a href="https://github.com/jonasschnelli">Jonas Schnelli</a></li>
          <li><a href="https://github.com/jmcorgan">Johnathan Corgan</a></li>
          <li><a href="https://github.com/adam3us">Dr. Adam Back</a></li>
          <li><a href="https://github.com/harding">David Harding</a></li>
          <li><a href="https://github.com/btchip">Nicolas Bacca</a><!--ledger--></li>
          <li><a href="https://github.com/AdamISZ">Adam Gibson</a><!--joinmarket--></li>
          <li><a href="https://github.com/LaurentMT">LaurentMT</a></li>
          <li><a href="https://github.com/koinster">Koinster</a></li>
          <li><a href="https://github.com/PaulCapestany">Paul Capestany</a></li>
          <li><a href="https://github.com/GooseNL">Jeroen Riemsdijk</a></li>
          <li><a href="https://github.com/chris-belcher">Chris Belcher</a><!--joinmarket--></li>
          <li><a href="https://github.com/KarlChappe">Karl Chappe</a></li>
          <li><a href="https://github.com/Ademan">Daniel Roberts</a></li>
          <li><a href="https://github.com/kanzure">Bryan Bishop</a></li>
          <li><a href="https://github.com/ghtdak">Glenn Tarbox</a></li>
          <li><a href="https://github.com/brg444">Alex Bergeron</a></li>
          <li><a href="https://github.com/sturles">Sturle Sunde</a></li>
          <li><a href="http://bitmynt.no">Bitmynt</a><!--company--></li>
          <li><a href="https://github.com/damianeoloan">Damian O'Loan</a></li>
          <li><a href="https://github.com/FrancisPouliot">Francis Pouliot</a></li>
          <li><a href="https://github.com/carnesen">Chris Arnesen</a></li>
          <li><a href="https://github.com/arthurbouquet">Arthur Bouquet</a></li>
          <li><a href="https://github.com/jlegoupil">Jérôme Legoupil</a></li>
          <li><a href="https://github.com/ffmad">Quentin de Beauchesne</a></li>
          <li><a href="https://github.com/Daunus">Daniel Wilczynski</a></li>
          <li><a href="http://Hardblock.net">Hardblock.net</a></li>
          <li><a href="https://github.com/stevebong">Steve Bong</a></li>
          <li><a href="https://github.com/antonio-fr">Antoine Ferron</a></li>
          <li><a href="https://github.com/shangzhou">Wu Shangzhou</a></li>
          <li><a href="https://github.com/robep00">Pierre Roberge</a></li>
          <li><a href="https://github.com/ruiquelhas">Rui Quelhas</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Companies</h3>-->
      <ul>
          <li><a href="http://www.ei8.ht/">EI8HT</a></li>
          <li><a href="https://ciphrex.com/">Ciphrex</a></li>
          <li><a href="https://greenaddress.it/">Green Address</a></li>
          <li><a href="https://metaco.com/">Metaco</a></li>
          <li><a href="https://digitalbitbox.com/">Digital Bitbox</a></li>
          <li><a href="http://corganlabs.com/">Corgan Labs</a></li>
          <li><a href="https://www.ledgerwallet.com/">Ledger Wallet</a></li>
          <li>Montebit S de RL de CV</li>
          <li><a href="https://onename.com/">Onename</a></li>
          <li>Nebulous Inc.</li>
          <li><a href="https://github.com/wiserweb">Wiser Web Solutions Inc.</a></li>
          <li><a href="https://github.com/mizhang">Miya Zhang</a></li>
          <li><a href="https://github.com/bektar">Jakob Rönnbäck</a></li>
          <li><a href="https://github.com/systemzax">Guillaume Babin-Tremblay</a></li>
          <li><a href="http://samouraiwallet.com/">Samourai Wallet</a></li>
          <li><a href="https://github.com/zmanian">Zaki Manian</a><!--sakuchain founder--></li>
          <li><a href="https://github.com/netcip">CiPi</a></li>
          <li><a href="https://github.com/keonne">Keonne Rodriguez</a></li>
          <li><a href="https://github.com/briannyeko">Brian Nyeko</a></li>
          <li><a href="https://github.com/m0se">Mose Last</a></li>
          <li><a href="https://github.com/thatsalotofbikes">Nick Perez</a></li>
          <li><a href="https://suchpool.pw/">Suchpool</a><!--mining pool--></li>
          <li><a href="https://github.com/taoeffect">Greg Slepak</a><!--president of okTurtles--></li>
          <li><a href="https://github.com/CryptoSiD">CryptoSiD</a></li>
          <li><a href="https://peername.com/">PeerName</a></li>
          <li><a href="https://github.com/lra">Laurent Raufaste</a></li>
          <li><a href="https://github.com/ManfredKarrer">Manfred Karrer</a><!-- founder bitsquare --></li>
          <li><a href="https://github.com/jl2012">Johnson Lau</a></li>
          <li><a href="https://github.com/stevenroose">Steven Roose</a></li>
          <li><a href="https://github.com/WilliamHill">William Hill</a></li>
          <li><a href="https://github.com/gabridome">Gabriele Domenichini</a></li>
          <li><a href="https://github.com/Joukehofman">Bitonic B.V.</a></li>
          <li><a href="http://www.thebitcoinreport.nl/">The Bitcoin Report</a></li>
          <li><a href="http://andyschroder.com/BitcoinVendingDevices/">Andy Schroder</a></li>
          <li><a href="https://github.com/jspri3">Jarred Spriggs</a><!--Co-founder Smartbit--></li>
          <li><a href="https://www.smartbit.com.au">Smartbit blockexplorer</a></li>
          <li><a href="https://github.com/vxst">Shan Thomas</a></li>
          <li><a href="https://github.com/JonathanCoe">Jonathan Coe</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Individuals</h3>-->
      <ul>
          <li><a href="https://github.com/haakonn">Haakon Nilsen</a></li>
          <li><a href="https://github.com/mably">François Masurel</a></li>
          <li><a href="https://github.com/nameone">Nicola Minichiello</a></li>
          <li><a href="https://github.com/Seccour">Adam Schneider</a></li>
          <li><a href="https://github.com/DavidVorick">David Vorick</a></li>
          <li><a href="https://github.com/stcole">Stephen Cole</a></li>
          <li><a href="https://github.com/martindale">Eric Martindale</a></li>
          <li><a href="https://github.com/taylorjb">Taylor Brink</a></li>
          <li><a href="https://github.com/michel-foucault">Michel Foucault</a></li>
          <li><a href="https://github.com/cfromknecht">Conner Fromknecht</a></li>
          <li><a href="https://github.com/">breathingdog</a></li>
          <li><a href="https://github.com/SamouraiDev">Samourai Wallet lead dev.</a></li>
          <li><a href="https://github.com/fametrano">Ferdinando Ametrano</a></li>
          <li><a href="https://okturtles.com/"></a>okTurtles Foundation</li>
          <li><a href="https://github.com/MrHodl">My Hodl</a></li>
          <li><a href="http://xbtradio.com">xbtradio.com</a></li>
          <li><a href="https://github.com/">akstunt</a></li>
          <li><a href="https://github.com/fyrstikken">Kjetil Eilertsen</a></li>
          <li><a href="http://www.fyrstikken.com"></a>Scandinavian Intertrade</li>
          <li><a href="https://github.com/cloxy">Vasil Toshkov</a></li>
          <li><a href="https://github.com/solotronics">Ansel Gaddy</a></li>
          <li><a href="https://github.com/shesek">Nadav Ivgi</a></li>
          <li><a href="https://github.com/riplin">Jean-Paul Kogelman</a></li>
          <li><a href="https://github.com/Aranad">Aran Dunkley</a></li>
          <li><a href="https://www.organicdesign.co.nz/"></a>Organic Design</li>
          <li><a href="https://github.com/pobri19">Patrick</a></li>
          <li><a href="https://github.com/manginahunter">Manginahunter</a></li>
          <li><a href="https://github.com/JRogiest">Jonathan Rogiest</a></li>
          <li><a href="https://github.com/reypoullard">Reynaldo Poullard</a></li>
          <li><a href="https://github.com/RubenSomsen">Ruben Somsen</a></li>
          <li><a href="https://github.com/hernzzzzzzzz">Hernz</a></li>
          <li><a href="https://github.com/seweso">Wouter Schut</a></li>
          <li><a href="https://github.com/JornC">Jorn C</a></li>
          <li>Yogh</li>
          <li><a href="https://github.com/nopara73">Ádám Ficsór</a></li>
          <li><a href="https://github.com/jonathancross">Jonathan Cross</a></li>
          <li><a href="https://github.com/ziggamon">Sergej Kotliar</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Users</h3>-->
      <ul>
          <li><a href="https://github.com/jameshilliard">James Hilliard</a></li>
          <li><a href="https://github.com/PierreRochard">Pierre Rochard</a></li>
          <li><a href="https://github.com/mbmott">Mike Mott</a></li>
          <li><a href="https://github.com/EricLarch">Eric Larchevêque</a><!--ledger CEO--></li>
          <li><a href="https://github.com/99Percent">David Noriega</a></li>
          <li><a href="https://github.com/oleganza">Oleg Andreev</a></li>
          <li><a href="https://github.com/fivepiece">Fivepiece</a></li>
          <li><a href="https://github.com/shea256">Ryan Shea</a><!--onename co-founder--></li>
          <li><a href="https://github.com/muneeb-ali">Muneeb Ali</a><!--onename co-founder--></li>
          <li><a href="https://github.com/jcnelson">Jude Nelson</a></li>
          <li><a href="https://www.bitrated.com/">Bitrated</a></li>
          <li><a href="https://github.com/david-sg">David Moskowitz</a></li>
          <li><a href="https://github.com/GratefulTony">GratefulTony</a></li>
          <li><a href="https://github.com/harrigan">Martin Harrigan</a></li>
          <li><a href="http://www.quantabytes.com/"></a>QuantaBytes</li>
          <li><a href="https://github.com/cryptogenesis">Evan Rose</a></li>
          <li><a href="https://github.com/ciphera">Karen Jorgenson</a></li>
          <li><a href="https://github.com/hagrin">Robert O'Brien</a></li>
          <li><a href="https://github.com/Frankenmint">Frankenmint</a></li>
          <li><a href="http://honeybadgerofmoney.com/"></a>Honey Badger Of Money</li>
          <li><a href="https://www.bitrefill.com/">Bitrefill</a></li>
          <li><a href="https://github.com/JTuwiner">Jordan Tuwiner</a></li>
          <li><a href="http://bitcoinx.io/">BitcoinXio</a></li>
          <li><a href="https://github.com/0xadada">Ron. A</a></li>
          <li><a href="https://github.com/bityogi">Kawal Singh</a></li>
          <li><a href="https://github.com/rubensayshi">Ruben de Vries</a></li>
          <li><a href="https://blocktrail.com/">Blocktrail</a></li>
          <li><a href="https://github.com/84adam">Adam Anderson</a></li>
          <li><a href="https://github.com/gonbo">Wu Gang</a><!-- from hao --></li>
          <li><a href="https://github.com/homen3">Gianluca Mazza</a></li>
          <li><a href="https://github.com/alp-bitcoin">Alp</a></li>
          <li><a href="https://github.com/obi">Obi Nwosu</a></li>
          <li>Mark Lamb<!-- coinfloor ceo--></li>
      </ul>
  </div>
</div>
<!-- update includes https://github.com/bitcoin-core/website/issues/50#issuecomment-174339086 -->
