<ul class="meeting">
  {% assign english_posts=site.posts | where:"lang", 'en' | where:"type", 'meetings' | sort_by:'date' %}
  {% assign translated_posts=site.posts | where:"lang", page.lang | where:"type", 'meetings' %}
  {% for default_post in english_posts %}
    {% assign post=default_post %}
    {% capture year %}{{post.date | date: '%Y' }}{% endcapture %}
    {% if forloop.first == true %}<li><b>{{year}}</b><ul>{% assign old_year = year %}{% endif %}
    {% if year != old_year %}</ul></li><li><b>{{year}}</b><ul>{% assign old_year = year %}{% endif %}
    {% for t_post in translated_posts %}
      {% if t_post.name == post.name %}{% assign post=t_post %}{% break %}{% endif %}
    {% endfor %}
  <li>
    <a href="{{ post.url }}">
      {{ post.title | replace: '<br/>', '' }}
    </a>
    <div class="desc">{{ post.desc }}</div>
  </li>
  {% endfor %}
  </ul></li>
</ul>
