      <footer role="contentinfo">
        <p class="byline">
          <strong>{{ page.title }}</strong>
          was published on
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %d, %Y" }}</time>{%- if page.modified -%}
          and last modified on
          <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">
            {{ page.modified | date: "%B %d, %Y" }}
          </time>{%- endif -%}.
        </p>
      </footer>
