{% assign related_posts = site.related_posts | where:"lang", page.lang | where:"type", 'posts' %}
{% if related_posts.size > 0 %}
<div class="related-articles">
    {% assign translations = site.data.translations[page.lang] %}
    {% assign navigation = site.data.navigation[page.lang] %}
    <h4>{{ translations.related }} <small class="pull-right">(<a href="{{ navigation.blog.url }}">{{ translations.viewallposts }}</a>)</small></h4>
    <ul>
        {% for post in related_posts limit:3 %}
        <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <hr />
</div><!-- /.related-articles -->
{% endif %}