<ul class="releases">
  {% assign english_posts =           site.releases | sort: 'release' | reverse | where:"lang", 'en' | where:"type", 'releases' %}
  {% assign translated_posts=site.posts | where:"lang", page.lang | where:"type", 'releases' %}
  {% for default_post in english_posts %}
    {% assign post=default_post %}
    {% for t_post in translated_posts %}
      {% if t_post.name == post.name %}{% assign post=t_post %}{% break %}{% endif %}
    {% endfor %}
  <li>
    <a href="{{ post.url }}">
      {{ post.title | replace: '<br/>', '' }}
    </a>
    <div class="desc">{{ post.desc }}</div>
  </li>
  {% endfor %}
</ul>
