<!doctype html>
{% include browser_magic.html %}
<head>
{% if page.name != "index" and page.name != "rpcindex" %}
  {% assign custom_title = page.name | append: " (" | append: page.btcversion | append: " RPC)" %}
{% else %}
  {% if page.btcversion != "index" %}
    {% assign custom_title = "Bitcoin Core " | append: page.btcversion | append: " RPC" %}
  {% else %}
    {% assign custom_title = "Bitcoin Core RPC" %}
  {% endif %}
{% endif %}
{% include head.html %}
</head>

<body class="page">

{% include browser-upgrade.html %}

{% include navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    <div>
      <p>
        {% if page.btcversion != "index" %}
          <!-- Since v22, the patch number is omitted in git tags, unless it is non-zero:
            version  -> tag
            0.21.0   -> v0.21.0
            22.0.0   -> v22.0
            24.0.1   -> v24.0.1
          -->
          {% assign tag_version = page.btcversion | replace: ".0.0", ".0" %}
          Documentation exported from <a href="https://github.com/bitcoin/bitcoin/tree/v{{ tag_version }}">Bitcoin Core {{ tag_version }}</a>
        {% endif %}
      </p>
    </div>
  </div>
  <article class="page">
    <h1>{{ custom_title | xml_escape }}</h1>
    <div class="article-wrap">
      {% if page.btcversion != "index" %}
        {% assign groups = site.doc | where:"btcversion", page.btcversion | group_by:"btcgroup" | sort: "name" %}
        <section class="toc">
        <input id="searchbar" type="text" value="" placeholder="Search ..."/>
        {% for group in groups %}
          {% if group.name != "index" %}
            <header>
              <h3 class="toc-header">
                <i class="fa fa-book"></i>
                {{ group.name }}
              </h3>
              <div class="toc-drawer js-hide-on-start">
                <ul>
                  {% for article in group.items %}
                    <li class="leaf-article"><a href="{{article.url}}">{{article.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </header>
          {% endif %}
        {% endfor %}
        </section>
      {% endif %}

      {% if page.name != "index" and page.name != "rpcindex" %}
<span class="doc">
{% highlight text %}{{ content }}{% endhighlight %}
</span>
      {% else %}
        {% if page.btcversion != "index" %}
          Select a command group in the menu.
        {% else %}
          Following docs are available:
          {% assign groups = site.doc | sort: "btcversion" | reverse | group_by:"btcversion" %}
          <ul>
            {% for group in groups %}
              {% if group.name != "index" %}
                {% for article in group.items %}
                  {% if article.name == "index" %}
                    <li><a href="{{article.url}}">{{group.name}}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>
