<!doctype html>
{% include _browser_magic.html %}
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
    alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">{{ page.image.byline }}</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    {% assign navigation = site.data.navigation[page.lang] %}
    <h3><a href="{{ navigation.blog.url }}">Recent Posts</a></h3>
    <!-- h3><a href="{{ navigation.blog.url }}">Recent Posts</a></h3 -->
      {% assign english_posts=site.posts | where:"lang", 'en' | where:"type", 'posts' %}
      {% assign translated_posts=site.posts | where:"lang", page.lang | where:"type", 'posts' %}
      {% for default_post in english_posts limit:5 %}
      {% assign post=default_post %}
      {% for tpost in translated_posts %}
        {% if tpost.name == post.name %}{% assign found=true %}{% assign post=tpost %}{% break %}{% endif %}
      {% endfor %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div><!-- /#index -->
    {% include _supporters_short.html %}
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>

</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
