<!doctype html>
{% include browser_magic.html %}
{% include helpers/latest-release.md %}
<head>
{% include head.html %}
</head>

<body class="home">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
    alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">{{ page.image.byline }}</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include author-bio.html %}
  </div>

  <div id="index">
    {% if page.version > 2 %}
      <div class="show_less_more">
        <div class="show_less">
          <p>{{page.about1 | default: "TRANSLATION_FAILURE" }}</p>
        </div>
      </div>

      <div class="show_more">
        <p>{{page.about2 | default: "TRANSLATION_FAILURE" }}</p>

        <p>{{page.about3 | default: "TRANSLATION_FAILURE" }}</p>

        <p>{{page.about4 | default: "TRANSLATION_FAILURE" }}</p>

        <p>{{page.about5 | default: "TRANSLATION_FAILURE" }}</p>
      </div>

      <p class="center"><button class="toggle_show_more_less js not-displayed"><span class="fa fa-caret-down
    "></span> {{page.read-more | default: "TRANSLATION_FAILURE" }}</button></p>

    <div class="two-column-list">
      <ul class="fa-ul">
        <li><span class="fa-li fa fa-download fa-2x"></span>
          <b><a href="/{{page.lang}}/download">Download</a></b><br
          >Download Bitcoin Core&nbsp;{{ CURRENT_RELEASE | default: "TRANSLATION_FAILURE" }}

        <li><span class="fa-li fa fa-code-fork fa-2x"></span>
          <b><a href="/{{page.lang}}/contribute">Contribute</a></b><br
          >Code, translations, and more
      </ul>
    </div>

    <br class="clear"><br>
    {% endif %}

    {% assign navigation = site.data.navigation[page.lang] %}
    <h3><a href="{{ navigation.blog.url }}">Recent Posts</a></h3>
    <!-- h3><a href="{{ navigation.blog.url }}">Recent Posts</a></h3 -->
      {% assign english_posts=site.posts | where:"lang", 'en' | where:"type", 'posts' %}
      {% assign translated_posts=site.posts | where:"lang", page.lang | where:"type", 'posts' %}
      {% for default_post in english_posts limit:5 %}
      {% assign post=default_post %}
      {% for tpost in translated_posts %}
        {% if tpost.name == post.name %}{% assign found=true %}{% assign post=tpost %}{% break %}{% endif %}
      {% endfor %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>

</div><!-- /.footer-wrap -->

{% include scripts.html %}

<script src="/assets/js/core.js">
<script>
if ( $( window ).width() > 400 && $( window ).height() > 600 ) {
  $(".show_more").removeClass("show_more");
  $(".toggle_show_more_less").removeClass("toggle_show_more_less");
}
</script>

</body>
</html>
