<!doctype html>
{% include browser_magic.html %}
<head>
{% include head.html %}
</head>

<body class="page">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
  alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title | xml_escape }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">{{ page.image.byline }}</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">&nbsp;</div>
  <article class="page">
    <h1>{{ page.title | xml_escape }}</h1>
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>

</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>
