<!doctype html>
{% include _browser_magic.html %}
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
  alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">{{ page.image.byline }}</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      <!-- { % include _istranslated.html % } -->
      {{ content }}
      {% if page.share != false %}
        <hr />
        {% include _social-share.html %}
      {% endif %}
    </div><!-- /.article-wrap -->
  </article>
    {% include _supporters_short.html %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>

</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
