<!doctype html>
{% include browser_magic.html %}
<head>
{% include head.html %}
</head>

<body class="post">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
    alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">&ldquo;{{ page.image.byline }}&rdquo;</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">&nbsp;</div>
  <article class="post h-entry">
    <div class="headline-wrap">
      {% if page.link %}
        <h1 class="p-name"><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1 class="p-name"><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
      {% if page.author %}
        {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = "" %}
        <span hidden class="p-author">
          by {{ author.name }}.
        </span>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      <div class="e-content">
        {{ content }}
      </div>
      <hr />
{% include posted-date.html %}
    </div><!-- /.article-wrap -->
  </article>
  {% if page.related != false %}{% include related.html %}{% endif %}
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>
