<!doctype html>
{% include _browser_magic.html %}
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "/assets/images/{{ page.image.feature }}"
    {% endif %}
    alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %} feature image">
  {% if page.image.byline %}
    <span class="image-credit">&ldquo;{{ page.image.byline }}&rdquo;</span>
  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post h-entry">
    <div class="headline-wrap">
      {% if page.link %}
        <h1 class="p-name"><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1 class="p-name"><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
      {% if page.author %}
        {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = "" %}
        <span hidden class="p-author">
          by {{ author.name }}.
        </span>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      <div class="e-content">
        {{ content }}
      </div>
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline">
          <strong>{{ page.title }}</strong>
          was published on
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %d, %Y" }}
          </time>
          {% if page.modified %} and last modified on
          <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">
            {{ page.modified | date: "%B %d, %Y" }}
          </time>{% endif %}.
        </p>
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
  {% if page.related != false %}{% include _related.html %}{% endif %}
  {% include _supporters_short.html %}
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
